body {
  font-weight: 400;
}

.badge-block {
  display: block !important;
  width: 80%;
  transform: translateX(10%);
  border-radius: 2px !important;
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important;
  text-align: center !important;
}

.full-height-user {
  min-height: calc(100vh - 70px);
}

.full-height-app {
  min-height: calc(100vh - 132px);
}

@media screen and (max-width: 992px) {
  .full-height-app {
    min-height: calc(100vh - 92px);
  }
}

@media (min-width: 1600px) {
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1540px;
  }
}
