@for $i from 0 through 75 {
  .border-#{$i} {
    border-width: $i * 1px !important;
  }

  .rounded-#{$i} {
    border-radius: $i * 1px !important;
  }

  .rounded-bottom-#{$i} {
    border-bottom-left-radius: $i * 1px !important;
    border-bottom-right-radius: $i * 1px !important;
  }

  .rounded-top-#{$i} {
    border-top-left-radius: $i * 1px !important;
    border-top-right-radius: $i * 1px !important;
  }

  .rounded-left-#{$i} {
    border-top-left-radius: $i * 1px !important;
    border-bottom-left-radius: $i * 1px !important;
  }

  .rounded-right-#{$i} {
    border-top-right-radius: $i * 1px !important;
    border-bottom-right-radius: $i * 1px !important;
  }
}

.border,
.border-left,
.border-right,
.border-top,
.border-bottom
{
  border-width: 0.25px;
}
