// My colors
$myblue: #06B0B6;
$grayblue: #1B223F;
$mylightblue: #62bafe;
$darkblue: #000C2C;
$mypink: #EA0D68;
$scarlet: #8d004b;
$myred: #ff0b33;
$purered: #f60929;
$myorange: #F5A10E;
$myoranger: #f67e09;
$brown: #450003;
$myyellow: #ffcd28;
$gold: #d1b853;
$darkyellow: darken($myyellow, 10%);
$mygreen: #05C945;
$mylemongreen: #f6ff01;
$darkgreen: #04393b;
$white: #ffffff;
$gray: #aaa;
$black: #000000;
$light: #cacaca;
$soft: #f6f6f6;
$darklight: #1b223f;
$border: #606060;
$input: #28324c;
$transparent: transparent;

// Colors
$colors: "green" $mygreen $white, "grayblue" $grayblue $white, "lemongreen" $mylemongreen $dark,
  "darkgreen" $darkgreen $white, "yellow" $myyellow $white, "gold" $gold $white, "darkyellow" $darkyellow $white,
  "red" $myred $white, "purered" $purered $white, "orange" $myorange $white, "oranger" $myoranger $white,
  "brown" $brown $white, "scarlet" $scarlet $white, "blue" $myblue $white, "lightblue" $mylightblue $white,
  "pink" $mypink $white, "darkblue" $darkblue $white, "white" $white $black, "black" $black $white,
  "gray" $gray $white, "darklight" $darklight $white, "border" $border $white, "light" $light $black,
  "input" $input $white, "transparent" $transparent $black, "soft" $soft $black;
@each $name, $color, $font in $colors {
  .text-#{$name} {
    color: $color !important;
  }

  .nav-link.text-#{$name}:not(.active) {
    color: rgba($color, 0.5) !important;
    transition: all 0.25s;
  }

  .nav-link.text-#{$name}:not(.active):hover {
    color: $color !important;
  }

  .text-#{$name}-10 {
    color: rgba($color, 0.1);
  }

  .text-#{$name}-20 {
    color: rgba($color, 0.2);
  }

  .text-#{$name}-50 {
    color: rgba($color, 0.5);
  }

  .badge-#{$name} {
    background-color: $color !important;
    color: $font !important;
  }

  .bg-#{$name} {
    background-color: $color !important;
  }

  .bg-#{$name}-10 {
    background-color: rgba($color, 0.1) !important;
  }

  .bg-#{$name}-20 {
    background-color: rgba($color, 0.2) !important;
  }

  .bg-#{$name}-25 {
    background-color: rgba($color, 0.25) !important;
  }

  .bg-#{$name}-30 {
    background-color: rgba($color, 0.3) !important;
  }

  .bg-#{$name}-33 {
    background-color: rgba($color, 0.33) !important;
  }

  .bg-#{$name}-50 {
    background-color: rgba($color, 0.5) !important;
  }

  .bg-#{$name}-80 {
    background-color: rgba($color, 0.8) !important;
  }

  .shadow-#{$name} {
    box-shadow: 0 0.5rem 1rem rgba($color, 0.15) !important;
  }

  .shadow-#{$name}-lg {
    box-shadow: 0 1rem 3rem rgba($color, 0.175) !important;
  }

  .shadow-#{$name}-circle {
    box-shadow: 0 0 0 0.75rem rgba($color, 0.1) !important;
  }

  .btn-#{$name} {
    background-color: $color;
    border-color: $color;
    color: $font !important;

    &:hover,
    &:focus,
    &.focus {
      border-color: darken($color, 10%);
    }

    &:focus,
    &.focus {
      box-shadow: 0 0 0 0.2rem rgba($color, 0.5);
    }

    &:hover,
    &:focus,
    &.active {
      background-color: darken($color, 5%);
    }

    &.disabled,
    &:disabled {
      background-color: rgba($color, 0.5);
    }
  }

  .btn-outline-#{$name} {
    border-color: $color;
    color: $color;

    &:hover {
      background-color: $color;
      color: $font;
    }

    &:focus,
    &.focus {
      box-shadow: 0 0 0 0.2rem rgba($color, 0.5);
    }

    &.disabled,
    &:disabled {
      background-color: transparent;
      color: $color;
    }
  }

  .border-#{$name}-20 {
    border-color: rgba($color, 0.2) !important;
  }

  .border-#{$name}-50 {
    border-color: rgba($color, 0.5) !important;
  }

  .border-#{$name} {
    border-color: $color !important;
  }
}

$gradients: "scarlet" $scarlet $myred 259deg, "orange" $myoranger $brown 253deg, "blue" $myblue $darkblue 210deg;
@each $name, $primary, $secondary, $angle in $gradients {
  .bg-#{$name}-gradient {
    background-image: linear-gradient($angle, $primary 0%, $secondary 100%) !important;
  }
}

$radial-gradients: "green" $mygreen $darkgreen, "scarlet" $scarlet $myred;
@each $name, $primary, $secondary in $radial-gradients {
  .bg-#{$name}-radial-gradient {
    background: transparent
      radial-gradient(circle at 50% 50%, $primary 0%, $secondary 100%)
      0%
      0%
      no-repeat
      padding-box;
  }
}
