.pd-x-0 {
    padding-left: 0;
    padding-right: 0;
}

.pd-x-1 {
    padding-left: .25rem;
    padding-right: .25rem;
}

.pd-x-2 {
    padding-left: .5rem;
    padding-right: .5rem;
}

.pd-x-3 {
    padding-left: 1rem;
    padding-right: 1rem;
}